# Pandas to arrays

https://pythonguides.com/convert-pandas-dataframe-to-numpy-array/

In [1]:
import pandas as pd

In [2]:
csv = "ext_array.csv"
df = pd.read_csv(csv)
df.head()

   92925.978000  20307.674000  2645.000000
0     92935.978     20307.674       2645.0
1     92925.978     20317.674       2645.0
2     92945.978     20307.674       2645.0
3     92955.978     20307.674       2645.0
4     92965.978     20307.674       2645.0

In [3]:
df.describe()

       92925.978000  20307.674000   2645.000000
count  45245.000000  45245.000000  45245.000000
mean   93281.762507  20704.939554   2830.555752
std      265.690329    272.467989    114.513666
min    92925.978000  20307.674000   2635.000000
25%    93035.978000  20457.674000   2735.000000
50%    93265.978000  20697.674000   2815.000000
75%    93515.978000  20937.674000   2905.000000
max    93755.978000  21147.674000   3095.000000

In [4]:
#auxFrame = df.filter(items=["xcentre", "ycentre", "zcentre"])[:100000]

In [6]:
df.describe()

       92925.978000  20307.674000   2645.000000
count  45245.000000  45245.000000  45245.000000
mean   93281.762507  20704.939554   2830.555752
std      265.690329    272.467989    114.513666
min    92925.978000  20307.674000   2635.000000
25%    93035.978000  20457.674000   2735.000000
50%    93265.978000  20697.674000   2815.000000
75%    93515.978000  20937.674000   2905.000000
max    93755.978000  21147.674000   3095.000000

In [7]:
x = df.to_numpy()

In [ ]:
x.shape, x.size, x.ndim

((45245, 3), 135735, 2)

(3, 45245)

In [42]:
y = x.reshape(9049,5,3)

from skimage import measure
verts, faces, normals, values = measure.marching_cubes(y, 93281)

import mcubes
import open3d as o3d
mcubes.export_obj(verts, faces, 'xyz.obj')

mesh = o3d.io.read_triangle_mesh("xyz.obj")
o3d.visualization.draw_geometries([mesh], mesh_show_wireframe=True)

In [39]:
verts

array([[0.0000000e+00, 0.0000000e+00, 1.5113340e-04],
       [1.0000000e+00, 0.0000000e+00, 5.6404021e-04],
       [0.0000000e+00, 1.0000000e+00, 1.3449736e-05],
       ...,
       [9.0480000e+03, 2.0000000e+00, 9.1246832e-03],
       [9.0480000e+03, 3.0000000e+00, 1.3605260e-05],
       [9.0480000e+03, 4.0000000e+00, 4.1446378e-03]], dtype=float32)