# Pandas to arrays

https://pythonguides.com/convert-pandas-dataframe-to-numpy-array/

In [2]:
import pandas as pd

In [4]:
csv = "borrar_reg_intcheck.csv"
df = pd.read_csv(csv)
df.head()

,Unnamed: 0,xcentre,ycentre,zcentre,xworld,yworld,zworld,base0609rocktype
0,0,5.0,5.0,5.0,92925.978,20307.674,2055.0,non
1,1,15.0,5.0,5.0,92935.978,20307.674,2055.0,non
2,2,5.0,15.0,5.0,92925.978,20317.674,2055.0,non
3,3,15.0,15.0,5.0,92935.978,20317.674,2055.0,non
4,4,5.0,5.0,15.0,92925.978,20307.674,2065.0,non

In [6]:
df.describe()

,Unnamed: 0,xcentre,ycentre,zcentre,xworld,yworld,zworld
count,763980.000000,763980.000000,763980.000000,763980.000000,763980.000000,763980.000000,763980.000000
mean,381989.500000,420.000000,425.000000,535.000000,93340.977999,20727.674000,2585.000000
std,220542.173666,242.470088,245.357044,308.869106,242.470088,245.357044,308.869106
min,0.000000,5.000000,5.000000,5.000000,92925.978000,20307.674000,2055.000000
25%,190994.750000,212.500000,215.000000,265.000000,93133.478000,20517.674000,2315.000000
50%,381989.500000,420.000000,425.000000,535.000000,93340.978000,20727.674000,2585.000000
75%,572984.250000,627.500000,635.000000,805.000000,93548.478000,20937.674000,2855.000000
max,763979.000000,835.000000,845.000000,1065.000000,93755.978000,21147.674000,3115.000000

In [42]:
auxFrame = df.filter(items=["xcentre", "ycentre", "zcentre"])[:100000]

In [43]:
auxFrame.describe()

             xcentre        ycentre        zcentre
count  100000.000000  100000.000000  100000.000000
mean      419.852000     424.834000      70.032000
std       242.536196     245.449373      40.335285
min         5.000000       5.000000       5.000000
25%       205.000000     215.000000      35.000000
50%       415.000000     425.000000      75.000000
75%       625.000000     635.000000     105.000000
max       835.000000     845.000000     155.000000

In [44]:
x = auxFrame.to_numpy()

In [45]:
x.shape, x.size, x.ndim

((100000, 3), 300000, 2)

In [46]:
y = x.reshape(-1,100,10)

In [47]:
y.shape, y.size, y.ndim

((300, 100, 10), 300000, 3)

In [48]:
y

array([[[  5.,   5.,   5., ...,  15.,   5.,  15.],
        [ 15.,   5.,   5., ...,  15.,   5.,  15.],
        [ 15.,  15.,  15., ...,  35.,   5.,   5.],
        ...,
        [ 15.,   5., 805., ...,  15., 805.,  15.],
        [ 15., 815.,  15., ..., 835.,   5.,   5.],
        [825.,  15.,   5., ...,   5.,  15., 835.]],

       [[  5.,  15., 825., ...,  15.,   5.,  25.],
        [  5.,  15.,  25., ...,  15.,  35.,   5.],
        [  5.,  25.,  15., ...,  35.,  15.,  15.],
        ...,
        [  5., 815.,  25., ..., 815.,  35.,   5.],
        [805.,  25.,  15., ...,  35.,  15., 815.],
        [ 35.,  15., 825., ...,   5., 825.,  35.]],

       [[  5., 835.,  35., ..., 835.,  25.,  15.],
        [825.,  35.,  15., ...,  45.,   5.,  15.],
        [ 45.,   5.,   5., ...,   5.,   5.,  45.],
        ...,
        [785.,  55.,  15., ...,  45.,   5., 815.],
        [ 45.,   5., 805., ...,   5., 805.,  45.],
        [ 15., 815.,  45., ..., 815.,  55.,  15.]],

       ...,

       [[545., 785., 125., ..., 795., 125., 555.],
        [795., 125., 545., ..., 135., 545., 795.],
        [135., 555., 795., ..., 575., 785., 125.],
        ...,
        [815., 125., 505., ..., 135., 505., 815.],
        [135., 515., 815., ..., 535., 805., 125.],
        [525., 815., 125., ..., 805., 135., 535.]],

       [[805., 135., 525., ..., 135., 545., 805.],
        [125., 555., 805., ..., 555., 815., 125.],
        [545., 805., 135., ..., 815., 135., 555.],
        ...,
        [125., 515., 825., ..., 515., 835., 125.],
        [505., 825., 135., ..., 835., 135., 515.],
        [835., 135., 525., ..., 125., 525., 835.]],

       [[125., 535., 835., ..., 535., 825., 135.],
        [525., 835., 135., ..., 825., 125., 555.],
        [825., 125., 545., ..., 125., 545., 825.],
        ...,
        [ 65.,  15., 155., ...,   5., 145.,  95.],
        [  5., 145.,  85., ..., 145.,  85.,   5.],
        [155.,  95.,   5., ...,  95.,  15., 155.]]])

In [53]:
from skimage import measure
verts, faces, normals, values = measure.marching_cubes(y, 300)

In [54]:
import mcubes
import open3d as o3d
mcubes.export_obj(verts, faces, 'xyz.obj')

mesh = o3d.io.read_triangle_mesh("xyz.obj")
o3d.visualization.draw_geometries([mesh], mesh_show_wireframe=True)